<% provide(:title, 'New comic') %>
<h2>New comic</h2>
<%= render 'layouts/menu_panel' %>
<% if (admin_signed == true) %>
<%= render 'form' %>
<% else %>
	<meta http-equiv="Refresh" content="2; url=<%= new_user_session_path %>">
<% end %>