<footer class="footer">
  <small>
    <a href="#">Comic App</a> by VIP2012-13

  </small>
  <nav>
    <ul>
      <li>
        <%=
          t = Time.now
          t.strftime("%Y:%m:%d")
        %>
      </li>
    </ul>
  </nav>
</footer>