<div class="span3">
<ul class="nav nav-tabs nav-stacked">
  <li><%= link_to "Create Manga",  new_manga_path %></li>
  <li><a href="<%= slides_path %>">All slides</a></li>
  <li><a href="<%= new_slide_path %>">New slide</a></li>
</ul>
</div>